---
---
$tier-s: #ded621;
$tier-a: #1ede37;
$tier-b: #1e8dde;
$tier-c: #de1edc;
$tier-d: #de241e;
$tier-e: #b71ede;

.page-content {

	background: #040604;
	background-image: url("{{ "/bg.png" | prepend: site.baseurl }}");
	background-attachment: fixed;
	background-repeat: no-repeat;


}
.player-ranks {

	.title, .subtitle {
		color: white;
		text-align: center;
		letter-spacing: 3px;
	}

	.title {
		font-size: 30px;
		margin-bottom: 0;
	}
	.subtitle {
		font-size: 20px;
		margin-top: 10px;
	}

	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
	border-radius: 10px;

	ul {
		margin-left: 0;
		padding: 0 40px;
	}

	li {
		list-style: none;
	}

	.player {

		$bracket-color: white;

		border-radius: 5px;
		margin-bottom: 5px;

		height: 30px;
		line-height: 30px;

		background-color: lighten($bracket-color, 50%);

		&.tier-s {
			background: lighten($tier-s, 30%);
			.rank { background: $tier-s; }
			.name { color: darken($tier-s, 50%); }
		}
		&.tier-a {
			background: lighten($tier-a, 30%);
			.rank { background: $tier-a; }
			.name { color: darken($tier-a, 50%); }
		}
		&.tier-b {
			background: lighten($tier-b, 30%);
			.rank { background: $tier-b; }
			.name { color: darken($tier-b, 50%); }
		}
		&.tier-c {
			background: lighten($tier-c, 30%);
			.rank { background: $tier-c; }
			.name { color: darken($tier-c, 50%); }
		}
		&.tier-d {
			background: lighten($tier-d, 30%);
			.rank { background: $tier-d; }
			.name { color: darken($tier-d, 50%); }
		}
		&.tier-e {
			background: lighten($tier-e, 30%);
			.rank { background: $tier-e; }
			.name { color: darken($tier-e, 50%); }
		}

		.rank {
			width: 40px;
			height: 100%;
			margin-right: 10px;

			display: inline-block;
			text-align: center;
			color: white;
			font-weight: bold;

			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;

			background: $bracket-color;
		}

		.name {
			width: auto;
			display: inline-block;
			color: rgba(0, 0, 0, 0.75);

			font-weight: bold;
		}

	}
}
