<div class="page-header">

	<div class="wrapper">

		<!-- <div><a class="logo" href="/"></a></div> -->
		<!-- <div class="title">club shen</div> -->
		<div class="navbar navbar--left">
			<ul>
				<li class="navbar-item"><a href="/">home</a></li>
				<li class="navbar-item"><a href="/ladder/ssb4/">ladder</a></li>
				<li class="navbar-item"><a href="/ladder/ssb4/">about</a></li>
			</ul>
		</div>

		<div class="navbar navbar--right">
			<ul>
				<li class="navbar-item"><a href="/facebook/"><i class="fa fa-facebook"></i></a></li>
				<li class="navbar-item"><a href="/trello/"><i class="fa fa-trello"></i></a></li>
				<li class="navbar-item"><a href="/slack/"><i class="fa fa-slack"></i></a></li>
				<!-- <li class="navbar-item"><a id="sign-in-button" href="">Sign in with Google</a></li> -->
			</ul>
		</div>

	</div>

</div>
